In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',header=None)
df
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[0] = scaler.fit_transform(df[[0]])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1.0,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,0.6,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,0.8,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,0.8,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [34]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
df[5] = OrdinalEncoder().fit_transform(df[[5]])

In [33]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1.0,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,0.6,?,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,0.8,164,audi,gas,std,1.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,0.8,164,audi,gas,std,1.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [38]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder();
enc_feature = encoder.fit_transform(df[[6]])
enc_feature.todense()

matrix([[1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        ...,
        [0., 0., 0., 1., 0.],
        [0., 0., 0., 1., 0.],
        [0., 0., 0., 1., 0.]])

In [43]:
from sklearn.impute import SimpleImputer
import numpy as np

In [45]:
imputer = SimpleImputer()
new_df = df.replace('?', np.nan)
imputer.fit_transform(new_df[[1]])

array([[122.],
       [122.],
       [122.],
       [164.],
       [164.],
       [122.],
       [158.],
       [122.],
       [158.],
       [122.],
       [192.],
       [192.],
       [188.],
       [188.],
       [122.],
       [122.],
       [122.],
       [122.],
       [121.],
       [ 98.],
       [ 81.],
       [118.],
       [118.],
       [118.],
       [148.],
       [148.],
       [148.],
       [148.],
       [110.],
       [145.],
       [137.],
       [137.],
       [101.],
       [101.],
       [101.],
       [110.],
       [ 78.],
       [106.],
       [106.],
       [ 85.],
       [ 85.],
       [ 85.],
       [107.],
       [122.],
       [122.],
       [122.],
       [122.],
       [145.],
       [122.],
       [122.],
       [104.],
       [104.],
       [104.],
       [113.],
       [113.],
       [150.],
       [150.],
       [150.],
       [150.],
       [129.],
       [115.],
       [129.],
       [115.],
       [122.],
       [115.],
       [118.],
       [122.],
       [ 93.],
       [ 93.],
       [ 93.],
       [ 93.],
       [122.],
       [142.],
       [122.],
       [122.],
       [122.],
       [161.],
       [161.],
       [161.],
       [161.],
       [153.],
       [153.],
       [122.],
       [122.],
       [122.],
       [125.],
       [125.],
       [125.],
       [137.],
       [128.],
       [128.],
       [128.],
       [122.],
       [103.],
       [128.],
       [128.],
       [122.],
       [103.],
       [168.],
       [106.],
       [106.],
       [128.],
       [108.],
       [108.],
       [194.],
       [194.],
       [231.],
       [161.],
       [161.],
       [122.],
       [122.],
       [161.],
       [161.],
       [122.],
       [122.],
       [161.],
       [161.],
       [161.],
       [119.],
       [119.],
       [154.],
       [154.],
       [154.],
       [ 74.],
       [122.],
       [186.],
       [122.],
       [122.],
       [122.],
       [122.],
       [122.],
       [122.],
       [150.],
       [104.],
       [150.],
       [104.],
       [150.],
       [104.],
       [ 83.],
       [ 83.],
       [ 83.],
       [102.],
       [102.],
       [102.],
       [102.],
       [102.],
       [ 89.],
       [ 89.],
       [ 85.],
       [ 85.],
       [ 87.],
       [ 87.],
       [ 74.],
       [ 77.],
       [ 81.],
       [ 91.],
       [ 91.],
       [ 91.],
       [ 91.],
       [ 91.],
       [ 91.],
       [ 91.],
       [ 91.],
       [168.],
       [168.],
       [168.],
       [168.],
       [134.],
       [134.],
       [134.],
       [134.],
       [134.],
       [134.],
       [ 65.],
       [ 65.],
       [ 65.],
       [ 65.],
       [ 65.],
       [197.],
       [197.],
       [ 90.],
       [122.],
       [122.],
       [122.],
       [ 94.],
       [ 94.],
       [ 94.],
       [ 94.],
       [ 94.],
       [122.],
       [256.],
       [122.],
       [122.],
       [122.],
       [103.],
       [ 74.],
       [103.],
       [ 74.],
       [103.],
       [ 74.],
       [ 95.],
       [ 95.],
       [ 95.],
       [ 95.],
       [ 95.]])

In [46]:
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1.0,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,0.6,?,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,0.8,164,audi,gas,std,1.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,0.8,164,audi,gas,std,1.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.2,95,volvo,gas,std,1.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,0.2,95,volvo,gas,turbo,1.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,0.2,95,volvo,gas,std,1.0,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,0.2,95,volvo,diesel,turbo,1.0,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,0.2,95,volvo,gas,turbo,1.0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [54]:
df[1] = df[[1]].replace('?', np.nan)
df[1]=df[[1]].dropna()
df[1]

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: 1, Length: 205, dtype: object